* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  max-width: 100vw;
  scroll-behavior: smooth;
}
body {
  background-color: #222222;
}
a {
  color: inherit;
  text-decoration: none;
}
h3 {
  color: #ffffff;
  border-bottom: 1px solid #d676de;
  font-family: var(--roboto);
  margin-bottom: 3rem;
  font-size: 28px;
}
.backSvg {
  width: 100%;
  z-index: -1;
  position: absolute;
}

@media only screen and (max-width: 1300px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1000px) {
  html {
    font-size: 12px;
  }
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 10px;
  }
}
@media only screen and (max-width: 760px) {
  html {
    font-size: 8px;
  }
}
